name: CI

on: [push, pull_request]

jobs:
  ci:
    runs-on: ubuntu-latest
    name: Continous integration tests
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2-beta
        with:
          node-version: '20'
      - name: Install system dependencies
        run: sudo apt-get install -y libsctp-dev
      - name: Install dependencies
        run: npm ci
      - name: Run tests
        run: npm run test
      - name: Verify code with linter
        run: npm run lint
